
footer {background-color: rgb(63, 60, 58);}
    
  
 Footer { color: rgb(150, 143, 143)

 } 
   
header{
    
    background-image: url("myimage_2.jpg") 
}
header{
    color:white
}

 #excite {
    font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p,ol {
    font-size: 20px;
}
p{
    padding: 30px; 
}

ol{
    padding: 30px;
}
img{
    padding: 20px;
}