.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
    
footer {background-color: rgb(83, 81, 77);}
    
   
   
*body{font-size: 22px;

}

p {color: black
}

.grey { color: grey
}

h1, h2 {font-size: 50px;
}